.control {
  min-height: 70px;
  background-color: rgb(0, 0, 0);
  width: 100%;
  border-radius: 10px;
  padding: 5px;
  border: solid 1px rgb(0, 255, 251);

  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.control__group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  align-items: center;
  justify-content: start;
}

.control_btn {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 50px;
  min-width: max-content;
  height: 50px;
  padding: 5px;

  border: 2px solid white;
  border-radius: 10px;
  background-color: black;

  transition: 0.3s ease;

  font-size: 12px;

  & svg {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
  }

  &:hover, 
  &.active {
    background-color: #00ffffbe;
  }
}