.game {
  background-color: rgba(8, 8, 8, 0.848);
  width: 100%;
  min-height: 200px;
  font-size: 2rem;
  padding: 80px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  min-height: 400px;
}

.btn {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  min-height: 80px;
  background-color: black;
  border-radius: 10px;
  font-size: 1.4rem;
  padding: 10px;
  border: white 1px solid;
  box-shadow: 3px 3px 10px rgb(0, 0, 0);
  text-transform: uppercase;
  &:hover {
    box-shadow: 3px 3px 10px rgb(253, 255, 154);
    color: rgb(229, 255, 32);
  }
}

.title {
  font-size: 2.5rem;
  text-align: center;
  @media (max-width:500px) {
    font-size: 1rem;
  }
}
