.logo {
  display: inline-flex;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  gap: 10px;
}

h1 {
  background-color: #2aa5a0;
  background-image: linear-gradient(90deg, #e9ff9f, #fc0076, #f9ff9f);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-shadow: 3px -2px 5px #ffffff3c;
  -webkit-text-stroke: 1px #ffffff;
  margin: 5px auto;
  font-size: 2rem;
}

.header,
.footer {
  text-align: center;
  background: black;
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-around;
  // flex-wrap: wrap;
  min-height: 80px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.btn-header {
  padding: 10px;
  background-color: #e9ff9f;
  color: black;
  border-radius: 10px;
  box-shadow: 3px 3px 8px white;
  border: black 1px solid;

  &.unactive {
    display: none;
  }
  
  &:hover {
    transform: scale(1.1);
    box-shadow: 3px 3px 10px white;
  }
  &:active {
    transform: scale(1);
    box-shadow: none;
  }
}
