.modal_background {
  overflow: auto;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease-in-out;
  opacity: 0;

  &.show {
    display: grid;
    justify-content: center;
    align-items: center;
    opacity: 1;

    &.left {
      justify-content: end;

      .modal {
        height: 100%;
        margin: 0;
        width: 100%;
      }
    }
  }
}

.modal {
  position: relative;
  margin: 20px;
  transition: transform 0.3s ease-in-out,
  opacity 0.3s ease-in-out;
  transform: translateY(-50px);
  opacity: 0;

  &.show {
    transform: translateY(0);
    opacity: 1;
  }

  @media (max-width: 600px) {
    margin: 10px;
  }
}

.modal_content {
  width: 100%;
  height: 100%;
}

